.form
  %span
    content id:
    = @content.id
    = link_to 'skip', skip_content_rules_path('skip_content_rule[id]' => @content.id), :method => :post
  .url
    %span url:
    %span
      = @uri.scheme
      %span> ://
      %a.host(href='javascript:void(0)')= @uri.host
      %span> :
      %a.port(href='javascript:void(0)')= @uri.port
      - @path.scan(/(?<=\/)[^\/]*/).each do |s|
        %span> /
        - if s.present?
          %a.btn.path-btn(href='javascript:void(0)')= s
      %span= @ext
      - if @uri.query
        %span> ?
        = @uri.query
      - if @uri.fragment
        %span> #
        = @uri.fragment
    %span
      %a{href: @content.url, target: 'blank'} GO
  = form_for @host_rule, :url => rules_path, :method => :post do |host_rule_form|
    = hidden_field_tag :content_id, @content.id
    .host-port
      %span host:
      = host_rule_form.text_field :host, :class => 'host'
      %span port:
      = host_rule_form.number_field :port, :max => 65535, :min => 1, :class => 'port'
      = host_rule_form.check_box :include_sub, {}
      = host_rule_form.label :include_sub, :for => 'host_rule_include_sub', :value => 'include sub domain'
      = host_rule_form.check_box :excluded, {}
      = host_rule_form.label :excluded
      %span @id:
      = host_rule_form.text_field :id, :size => 3, :readonly => true
      %a.btn.remove-btn.remove-host-ref-id(href='javascript:void(0)') x
    .path
      = fields_for @path_rule do |path_rule_form|
        .url-path
          %span path:
          - @path.scan(/(?<=\/)[^\/]*/).each do |s|
            %span /
            - if s.present?
              %span
                = path_rule_form.text_field :path_pattern_items, :name => 'path_rule[path_pattern_items][]', :value => s, :readonly => true, :size => 20, :class => 'path-pattern-item'
                %a.btn.path-all-btn(href='javascript:void(0)') 全部
                %a.btn.path-digit-btn(href='javascript:void(0)') 数字
            - else
              = path_rule_form.text_field :path_pattern_items, :name => 'path_rule[path_pattern_items][]', :value => '', :class => 'hidden'
          = path_rule_form.text_field :path_pattern_ext, :name => 'path_rule[path_pattern_ext]', :value => @ext, :readonly => true, :size => @ext.length if @ext
          = path_rule_form.check_box :excluded, {}
          = path_rule_form.label :excluded
        .title-css-path
          %span title css path:
          = path_rule_form.text_field :title_css_path, :size => 100
          %a.btn.html-head-title-btn(href='javascript:void(0)') head title
        .content-css-paths
          %span content css paths:
          .content-css-paths-data
            %ul
    - if @existed_host_rules.present?
      .existed-host-rule
        已有的规则:
        %table
          %tr
            %th(colspan="5") HOST RULE
            %th(colspan="2") PATH RULE
          %tr
            %th id
            %th host
            %th port
            %th include sub
            %th excluded
            %th id
            %th path pattern
          - @existed_host_rules.each do |host_rule|
            - host_rule.path_rules.each_with_index do |path_rule, idx|
              %tr
                - if idx == 0
                  %td
                    %a.btn.existed-host-rule-id(href='javascript:void(0)')= host_rule.id
                  %td= host_rule.host
                  %td= host_rule.port || '-'
                  %td= host_rule.include_sub
                  %td= host_rule.excluded
                - else
                  %td
                  %td
                  %td
                  %td
                  %td
                %td
                  = link_to path_rule.id, path_rule, :target => '_blank'
                %td= path_rule.path_pattern
    .submit-buttons
      - if @path_rule.new_record?
        %a.btn.create-host-excluded-rule(href='javascript:void(0)') host excluded
        %a.btn.create-path-excluded-rule(href='javascript:void(0)') path excluded
        = host_rule_form.submit :class => 'btn'
      %a.btn.test-btn(href='javascript:void(0)') 测试
      %a.btn.preview-size-btn(href='javascript:void(0)') 预览区大小

%div
  .css-path-setting
    %div
      %input.css-path-input(type='text' style='width:80%')
      %a.btn.set-title-css-path-btn(href='javascript:void(0)') 标题
      %a.btn.set-content-css-path-btn(href='javascript:void(0)') 正文
  %table.css-path-setting
    %tbody
      %tr
        %td(style='vertical-align:top;')
          %div(style='width:800px;')
            %iframe#source_iframe(style='width:100%;height:100% !important' src="/contents/#{@content.id}/source")
        %td(style='vertical-align:top;')
          %div.input-path-preview(style='width:300px;')
            - cache = nokogiri_parse(@content.cache)
            = cache.to_s.html_safe
        %td(valign="top" )
          %div(style='width:300px;')
            .dom-tree(style='height:600px;overflow:scroll')
              #jstree_div

.hidden
  - source = nokogiri_parse @content.source
  = hidden_field_tag :_data_source, source.to_s
  = hidden_field_tag :_data_content_css_paths_json, @path_rule.content_css_paths
  = hidden_field_tag :_data_title_css_path, @path_rule.title_css_path




